<% if logged_in? %>
<div class="container-fluid">
	<%= render 'shared/num' %>

	<% @links.each do |link| %>
	<div class="row">
		<% if link.first.present? %>
		<% tag = link.first.bunrui %>
		<div class="daimei">
			<% @tag = Origin.find(tag).content %>
			<h3>
				<div class="glyphicon glyphicon-tags">
					<%= @tag %>
				</div>
			</h3>
		</div>
		<% end %>

		<% link.each do |k| %>
		<div class="item-box">
			<div class="image">
				<div class="img-wrap">
					<%= link_to image_tag( img_gen + k.url ), k.url, :target => "_blank", class: "nonmover" %>
					<%= link_to k.title, k.url, :target => "_blank", class: "nonmover" %>
					<div class="aicon">
						<%= link_to "", link_path(k.id), :method => "delete",
												class: "glyphicon glyphicon-trash", data: { confirm: '削除してもよろしいですか？'} %>
						<%= link_to "" , edit_link_path(k.id) , class: "glyphicon glyphicon-pencil" %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>

<div class="announce">
	<% if @link_box.empty? %>
	<h1 class="up">↑</h1>
	<h1>リンクを追加しましょう</h1>
	<% end %>
</div>

<% else %>
<div class="center jumbotron">
	<h1>ようこそOneLinkへ</h1>
	<%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
