<% if logged_in? %>
<div class="container-fluid waku">
	<%= render 'shared/user_info' %>
	<% img = "http://capture.heartrails.com/200x200/cool?" %>
	<% @links.each do |link| %>
	<div class="row">
		<br>
		<% if link.first.present? %>
		<% bunrui = link.first.bunrui %>
		<h3><%= Origin.find(bunrui).content %></h3>
		<% end %>
		<% link.each do |elm| %>
		<div class="item-box">
			<div class="image">
				<div class="img-wrap">
					<%= link_to image_tag( img + elm.url ),elm.url,:target=>["_blank"] %>
					<%= link_to elm.title, elm.url,:target=>["_blank"] %>
					<%= link_to "", link_path(elm.id), :method => "delete",
									class: "glyphicon glyphicon-trash", data: { confirm: '削除してもよろしいですか？'} %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
<% else %>
<div class="center jumbotron">
	<h1>ようこそOneLinkへ</h1>
	<%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
