
<h1>リンク追加</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@link) do |f| %>
		<%= render'shared/error_messages', object: f.object %>

		<%= f.lavel :URL %>
		<%= f.text_field :url %>

		<%= f.lavel :タイトル %>
		<%= f.text_field :title %>

		<%= f.lavel :分類 %>
		<%= f.text_field :bunrui %>

		<%= f.submit "作成", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

