<!DOCTYPE html>
<html>
	<head>
		<title>Onelink</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'assets/flash' %>
		<%= javascript_include_tag 'assets/jquery.fademover' %>
		<%= csrf_meta_tags %>
		<script>
			$(document).ready(function () {
				$("#fade").fadeMover({'effectType': 1, 'inSpeed': 600, 'outSpeed': 600, 'nofadeOut': 'nonmover'});
			});
		</script>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div id="fade">
			<div class="container waku">
				<% flash.each do |message_type, message| %>
				<div id="flash_msg" class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<%= render "layouts/footer" %>
	</body>
</html>
